<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kolodziejski.RatingApp.BusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kolodziejski.RatingApp.BusinessLogic.Properties.Settings>
            <setting name="DllRepository" serializeAs="String">
                <value>Persistent.InMemory.dll</value>
            </setting>
        </Kolodziejski.RatingApp.BusinessLogic.Properties.Settings>
    </userSettings>
</configuration>